{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
<h1>{{title}}</h1>
<p>Добро пожаловать в наш магазин компьютерной техники!
    Мы - команда энтузиастов, предлагающая современные решения для всех ваших IT-потребностей.<br><br>

Наша цель - обеспечить вас лучшими продуктами, созданными с учетом последних инноваций и технологий.
    Мы предлагаем широкий ассортимент компьютеров, ноутбуков, планшетов, мониторов, периферийных устройств и многое другое,
    чтобы удовлетворить любые потребности и бюджеты.<br><br>

Компьютерная техника - это наше призвание, и мы всегда стремимся к совершенству.
    Наша команда состоит из опытных специалистов, которые тщательно отбирают каждый продукт, чтобы убедиться в его надежности,
    производительности и качестве.<br><br>
    Мы тщательно следим за последними трендами и новинками в индустрии, чтобы предложить вам только самые передовые и инновационные продукты.<br><br>

Мы понимаем, что выбор компьютерной техники может быть сложным, поэтому наша команда готова помочь вам сделать правильный выбор.<br><br>
    Наша цель - не просто продать вам продукт, но и создать долгосрочные отношения, основанные на доверии и удовлетворенности.
    Мы готовы ответить на все ваши вопросы, предложить наилучшие решения и обеспечить поддержку после покупки.<br><br>

Мы также гордимся нашими конкурентоспособными ценами. Мы стремимся предложить вам лучшую цену на рынке, не компрометируя качество.
    Мы сотрудничаем с ведущими производителями и дистрибьюторами, чтобы получить лучшие предложения и передать их прямо вам.<br><br>

Ваше удовлетворение - наш успех. Мы постоянно работаем над улучшением наших услуг и ассортимента, чтобы вы получали только лучшее.
    Мы ценим каждого нашего клиента и стремимся сделать ваше покупательское</p>
</div>
{% endblock %}