{% extends 'shop/base.html' %}

{% block content %}
  <div class="container album py-5">

        <!-- Блок категории -->
<div class="col-md-12" id="icon-grid1">
    <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6 row-cols-lg-10 g-4 pb-5">
	{% for category_photo in category_photos %}
      <div class="col d-flex align-items-start">
        {% if category_photo.photo %}
        <a class="cat21" href="{{ category_photo.get_absolute_url }}">
        <img class="" src="{{ category_photo.photo.url }}" alt="{{ category_photo.name }}">
		{% endif %}
              <h6 class="">{{ category_photo.name }}</h6>
          </a>
      </div>
	{% endfor %}
    </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">

    {% for p in posts %}
<div class="col">
    <div class="card shadow-sm">
{% if p.photo %}
            <img class="bd-placeholder-img card-img-top" src="{{p.photo.url}}" alt="">
{% endif %}
        <div class="card-body">
            <h5 class="text-center text-orange"><strong>{{p.title|linebreaks|truncatewords:10}}</strong></h5>
              {{p.content|linebreaks|truncatewords:20}}
            <div class="d-flex justify-content-between align-items-center">

                  <a type="button" href="{{ p.get_absolute_url }}" class="btn btn-outline-orange">
                      <h5>{{p.price}}</h5>
                  </a>
                <small class="text-body-secondary">
                  <p class="">{{p.cat}}<br>{{p.time_update|date:"d-m-Y H:i:s"}}</p>

                </small>
            </div>
        </div>
    </div>
</div>
    {% endfor %}

      </div>

  </div>
{% endblock %}